.card{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}
li .card:hover{
    border: 1px solid blue;
}
ul{
    padding: 0;
}

img{
    width: 50%;
}